.vehicle-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.vehicle-container h1{
  color: orangered;
  text-align: center;
}